

html{
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
main, .outer-container, #data-content, #data-view {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
#data-view {
    padding-left: 0;
    padding-right: 0;
}
#map {
    height: 100%;
    flex: 1;
}


/* MAP NAV BUTTONS */
#data-nav {
    margin-left: -14px;
    margin-right: -14px;
    padding: 0;
}
#map-title-label{
    padding-right: 5px;
}
#map-title{
    margin-right: 15px;
    width: 280px;
}
.btn-purple, .btn-outline-purple:hover{
    color: #fff;
    background-color: #480062;
    border-color: #480062;
}
.btn-outline-purple{
    color: #480062;
    border-color: #480062;
}

/* SIDEBAR */
#map-side-panel {
    height: 100%;
    background-color: rgba(219, 204, 224, 0.5);
    position: absolute;
    top: 0;
    z-index: 1001;
    width:400px;
    cursor: default;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}
#attribute-options{
    height: 100%;
    overflow: auto;
}
.visible-panel{
    left: 0;
    transition-property: left;
    transition-duration: 0.5s;
}
.hidden-panel{
    left: -400px;
    transition-property: left;
    transition-duration: 0.5s;
}
button.source-btn{
    background-color: #e6dfe8;
}
button.region-dataset-btn{
    padding-left: 35px;
    background-color: #f3ebf5;
}
button.dataset-btn{
    padding-left: 70px;
    background-color: #f3ebf5;
}
div.row>div.attribute-remove-button{
    cursor: pointer;
    text-align: center;
}
.attribute-cell{
    background-color: #fafafa;
    border: 3px solid gray;
    padding: 4px;
    font-size: 1.2em;
    text-align: center;
}
#side-panel-toggle{
    transform: rotate(90deg);
    position: absolute;
    margin-left: 377px;
    top: 50%;
    z-index: 1001;
    background-color: rgba(250, 250, 250, 0.5);
    font-size: 1.1em;
    padding: 3px 15px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    width: 70px;
    height: 25px;
    text-align: center;
}
#attribute-options>button{
    background-color: #e6dfe8;
}
#attribute-options>div>button{
    background-color: #f3ebf5;
}
#attribute-options button.year-button, #attribute-options div.attribute-years>button{
    background-color: #fbfbfb96;
}


/* INFO BOX */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 500;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.leaflet-top{
    z-index: 50 !important;
}



/* LEGEND  */
.legend {
    line-height: 18px;
    color: #555;
    text-align: center;
    font: 14px/16px Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: white;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-shadow: -1px 0 10px white, 0 1px white, 1px 0 white, 0 -1px white;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.legend td, .legend tr, .legend table {
    margin: 0px;
    padding: 0px;
}
.legend .gradient-bar {
    width: 50px;
    height: 18px;
}
.legend-top-row {
    margin-bottom: 9px;
}
#legend-left-text {
    text-align: right;
}
#legend-right-text {
    text-align: left;
}
.legend-big {
    min-height: 160px;
    width: 500px;
}
#legend-diamond {
    height: 145px;
    width: 140px;
}
.legend-middle-row td {
    width: 140px;
}



/* Modal  */

#field-mapper{
    margin-top: 50px;
}
.field-mapper-headers{
    font-weight: bold;
    text-align: center;
}
.radio-div, .checkmark-div{
    text-align: center;
}
#field-mapper-form .form-check-input {
    margin-left: 0;
}
.data-sample-title{
    font-weight: bold;
    margin-top: 10px;
}
.data-table th{
    min-width: 200px;
}
.table-wrapper{
    overflow: scroll;
}
div#data-format-selector{
    text-align: center;
}
.format-selector-box:hover, .format-selector-box-selected{
    background-color: gray;
    border: solid 1px black;
}
.format-selector-box{
    padding: 225px 10px;
    cursor: pointer;
}
#data-format-selector-prompt{
    color:gray;
    margin-bottom: 20px;
}



/* Tooltip text */
.tooltips .tooltiptext {
    visibility: hidden;
    width: fit-content;
    max-width: 350px;
    background-color: #000;
    color: #fff;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    font-weight: 400;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    margin-left: -170px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltips:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* TABLE VIEW ---------*/
#table-view{
    padding-left: 15px;
    height: 100%;
    flex: 1;
    overflow-y: scroll;
}
.table-small{
    margin-left: 400px !important;
}

/* STATISTICS VIEW -----------*/
#statistics-view{
    padding-left: 15px;
    height: 100%;
    flex: 1;
    overflow-y: scroll;
}


/* Utility      */
.hidden {
    display: none;
}
.visible {
    display: block;
}