

.nav-link.active {
    border-bottom: 5px solid #480062
}

.navbar-light .navbar-brand {
    color: #480062;
}


/* MAPS PAGE ---------------- */
.map-card-section{
    background-color: #EEEEEE;
    margin-bottom: 20px;
    padding: 40px 40px 10px 40px;
    border-radius: 10px;
}

.map-card-row, .dataset-card-row{
    margin-bottom: 40px;
}

.map-card-row .card-content {
    height: 180px;
    overflow-y: scroll;
}

label{
    font-size: 0.8em;
    color: gray;
}

#user-maps-title{
    margin-top: 40px;
}

.see-more-row{
    text-align: right;
    margin-top: -25px;
}

.thumbnail {
    position: relative;
    float: left;
    height: 220px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

/* Datasets PAGE ---------------- */
.dataset-record{
    border: 1px gray solid;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}
.dataset-title{
    font-size: 1.7em;
}
.show-attributes-btn{
    color: black;
}
.dataset-btn-row{
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    text-align: center;
    margin-bottom: -15px;
    margin-right: -16px;
}
.dataset-btn-row>div.col-sm-10{
    padding-top: 7px;
}
.dataset-btn-row>div.col-sm-2{
    text-align: right;
    padding-right: 0px;
}
.dataset-group{
    background-color: #EEEEEE;
    padding: 3px;
    border-radius: 5px;
}
.collapse{
    margin-top: 20px;
}
.dataset-card-row .card-content {
    height: 200px;
    overflow-y: scroll;
}
.dataset-section-title {
    color: #480062;
    margin-top: 50px;
}