<nav class="navbar navbar-light bg-light" id="data-nav">
    <form class="form-inline">
        <button class="btn btn-success" type="button" id="map-view-button">Map</button>
        <button class="btn btn-outline-success" type="button" id="table-view-button">Table</button>
        <button class="btn btn-outline-success" type="button" id="statistics-view-button">Statistics</button>
    </form>
    <form class="form-inline my-2 my-sm-0">
        <label id="map-title-label">Title:</label>
        <input type="text" placeholder="Map Title" value="Untitled Map" class="form-control" id="map-title">
        {% if current_user.is_authenticated and preloaded_map['map_id'] in current_user.maps_owned or not preloaded_map['map_id'] %}
            {% set tooltip_class = '' %}
            {% set save_disabled = '' %}
            {% set save_as_disabled = '' %}
            {% set span_style = 'style=display:none;' %}
        {% elif current_user.is_authenticated %}
            {% set tooltip_class = '' %}
            {% set save_disabled = 'disabled' %}
            {% set save_as_disabled = '' %}
            {% set span_style = 'style=display:none;' %}
        {% else %}
            {% set tooltip_class = 'tooltips' %}
            {% set disabled = 'disabled' %}
            {% set save_as_disabled = '' %}
            {% set span_style = '' %}
        {% endif %}
        <div class="btn-group">
            <button type="button" class="btn btn-outline-info my-2 my-sm-0 {{ tooltip_class }}" id="save-map-button" data-save-as-new="no" {{ save_disabled }}>
                Save
                <span class="tooltiptext" {{ span_style }}>Must be logged in to save map.</span>
            </button>
            <button type="button" class="btn btn-outline-info my-2 my-sm-0 dropdown-toggle dropdown-toggle-split" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{ save_as_disabled }}>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:;" id="save-as-map-button" data-save-as-new="yes" >Save Copy</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Download
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="javascript:;" id="download-jpg">Map as JPG</a>
                <a class="dropdown-item" href="javascript:;" id="download-png">Map as PNG</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:;" id="download-csv">Data as CSV</a>
                <a class="dropdown-item" href="javascript:;" id="download-json">Data as GeoJSON</a>
            </div>
        </div>
        <button type="button" data-toggle="modal" data-target="#import-modal"
            class="btn btn-outline-info my-2 my-sm-0 {{ tooltip_class }}" id="import-button" {{ disabled }}>
            Import Dataset
            <span class="tooltiptext" {{ span_style }}>Must be logged in to import data.</span> 
        </button>
    </form>
</nav>