<nav class="navbar navbar-light bg-light" id="data-nav">
    <form class="form-inline">
        <button class="btn btn-success" type="button">Map</button>
        <button class="btn btn-outline-success" type="button">Table</button>
        <button class="btn btn-outline-success" type="button">Statistics</button>
        <button class="btn btn-outline-success" type="button">Customize</button>
        <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" onchange="toggleSideBar(this)" checked>
            <label class="form-check-label">Diplay Side Panel</label>
        </div>
    </form>
    <form class="form-inline my-2 my-sm-0">
        <button type="button" data-toggle="modal" data-target="#import-modal"
            class="btn btn-outline-info my-2 my-sm-0">Import Dataset</button>
        <div class="dropdown">
            <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Download
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Map as PNG</a>
                <a class="dropdown-item" href="#">Map as PDF</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Data as CSV</a>
                <a class="dropdown-item" href="#">Data as Excel</a>
                <a class="dropdown-item" href="#">Data as GeoJSON</a>
            </div>
        </div>
        <button class="btn btn-outline-info my-2 my-sm-0">Save</button>
    </form>
</nav>