<div id="map-side-panel" class="visible-panel">
    <div id="attribute-selections">
        <div class="container-fluid" id="selected-attributes"></div>
    </div>
    
    <div class="list-group" id="attribute-options">
        <button type="button" id="default-sources-btn" class="list-group-item list-group-item-action list-group-item-primary" onclick="sidePanel.toggleSources(this)">
            Default Data Sources
        </button>
        <div class="list-group" id="default-data-sources" style="display: block;">
            {% for dataset in default_dataset_list %}
            <button type="button" id="default-attributes-btn" class="list-group-item list-group-item-action list-group-item-info  dataset-btn" onclick="sidePanel.toggleAttributes(this)">
                {{ dataset.name }}
            </button>
            <div class="list-group" id="default-data-attributes" style="display: block;">
                {% for attribute in dataset.distinct_geographic_attribute_names %}
                <button type="button" 
                        data-source-id="{{ attribute['dataset_id'] }}" 
                        class="list-group-item list-group-item-action list-group-item-light" 
                        onclick="sidePanel.toggleYearList(this)">
                    {{ attribute['name'] }}
                    <div class="attribute-years"></div>
                </button>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <button type="button" class="list-group-item list-group-item-action list-group-item-primary">Personal Data Sources</button>
        <button type="button" class="list-group-item list-group-item-action list-group-item-primary">Favorite Data Sources</button>
    </div>
</div>


<div id="side-panel-toggle" class="visible-panel" onclick="sidePanel.toggleSideBar()">Hide</div>