{% set sources = [
    ('Default Data Sources', default_dataset_list),
    ('Personal Data Sources', personal_dataset_list),
    ('Favorite Data Sources', favorite_dataset_list)
    ]
%}

<div id="map-side-panel" class="visible-panel">
    <div id="attribute-selections">
        <div class="container-fluid" id="selected-attributes"></div>
    </div>
    
    <div class="list-group" id="attribute-options">
        {% for source_name, dataset_list in sources %}
        <button type="button" id="default-sources-btn" class="list-group-item list-group-item-action list-group-item-primary source-btn">
            <i class="far fa-plus-square"></i> {{ source_name }}
        </button>
        <div class="list-group" id="default-data-sources" style="display: none;">
            {% for region_dataset in dataset_list %}
            <button type="button" class="list-group-item list-group-item-action region-dataset-btn">
                <i class="far fa-plus-square"></i> {{ region_dataset['name'] }}
            </button>
            <div class="list-group" style="display: none;">
                {% for dataset in region_dataset['datasets'] %}
                <button type="button" class="list-group-item list-group-item-action dataset-btn">
                    <i class="far fa-plus-square"></i> {{ dataset.name }}
                </button>
                <div class="list-group" style="display: none;">
                    {% for attribute in dataset.distinct_geographic_attribute_names %}
                    <div>
                        <button type="button" 
                            data-source-id="{{ attribute['dataset_id'] }}" 
                            class="list-group-item list-group-item-action list-group-item-light year-button">
                        {{ attribute['name'] }}
                        </button>
                        <div class="attribute-years" data-geo-level="{{ region_dataset['level'] }}"></div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}        
    </div>
</div>


<div id="side-panel-toggle" class="visible-panel">Hide</div>