<div class="container-fluid">
    <table id="statistics-table" class="table">
        <thead>
            <tr>
                <th colspan="3">Summary Statistics</th>
            </tr>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mean:</td>
            </tr>
            <tr>
                <td>Median:</td>
            </tr>
            <tr>
                <td>Mode:</td>
            </tr>
            <tr>
                <td>Min:</td>
            </tr>
            <tr>
                <td>Max:</td>
            </tr>
            <tr>
                <td>Range:</td>
            </tr>
            <tr>
                <td>Standard Deviation:</td>
            </tr>
            <tr>
                <td>First Quartile:</td>
            </tr>
            <tr>
                <td>Second Quartile:</td>
            </tr>
            <tr>
                <td>Third Quartile:</td>
            </tr>
            <tr>
                <td>Interquartile Range:</td>
            </tr>
            <tr>
                <td>Variance:</td>
            </tr>
            <tr>
                <td></td>
                <td>Correlation:</td>
            </tr>
            <tr>
                <td></td>
                <td>R<sup>2</sup>:</td>
            </tr>
        </tbody>
    </table>
</div>