<div id="import-modal" class="modal bd-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="import-modal-body">
                <form id="modal-upload-starting-form">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Select file to import:</label>
                        <div class="col-sm-9">
                            <input type="file" class="form-control-file" id="file-import" accept=".csv">
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Dataset Name</label>
                        <div class="col-sm-9">
                            <input type="text" placeholder='e.g. "CDC Annual Survey"' class="form-control" id="dataset-name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="dataset-description">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Organization</label>
                        <div class="col-sm-9">
                            <input type="text" placeholder='e.g. "National Institutes of Health"' class="form-control" id="dataset-org">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Website</label>
                        <div class="col-sm-9">
                            <input type="text" placeholder='e.g. "www.nih.gov/new-report-data-123"' class="form-control" id="dataset-url">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Year</label>
                        <div class="col-sm-9">
                            <input type="text" placeholder='Leave blank if dataset includes year column.' class="form-control" id="dataset-year">
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value=0 id="dataset-private">
                        <label class="form-check-label">Make Private</label>
                    </div>
                </form>
                <hr>
                <div id="data-format-selector">
                    <div class="row">
                        <div class="col-sm-12" id="data-format-selector-prompt">Select the format of your data:</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="format-selector-box" data-data-format="1">
                                <img src="{{ url_for('static',filename='images/ahm_upload_1.png') }}" alt="data table diagram" height="450">
                            </span>
                            <span class="format-selector-box" data-data-format="2">
                                <img src="{{ url_for('static',filename='images/ahm_upload_2.png') }}" alt="data table diagram" height="450">
                            </span>
                        </div>
                    </div>
                </div>
                <table id="field-mapper"></table>
            </div>
            <div class="modal-footer" id="import-footer">
                <div id="import-error-message"></div>
                <button id="upload-file-button" type="button" class="btn btn-primary" disabled>Upload</button>
                <button id="close-modal-button" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>