{% extends "base.html" %}

{% set active_page = 'analysis' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstat/1.9.1/jstat.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='analysis.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid outer-container">
    <main>
        {% include "partials/_map_nav_bar.html" %}
        <div id="data-content" class="row">
            <div class="col-sm-12" id="data-view">
                <map id="map" class="visible"></map>
                <div id="table-view" class="hidden table-small"></div>
                <div id="statistics-view" class="hidden table-small">
                    <table id="statistics-table" class="table">
                        <thead><tr><th>Select attributes to view summary statistics.</th></tr></thead>
                    </table>
                </div>
                <aside> {% include "partials/_side_panel.html" %} </aside>
            </div>
        </div>
        <div> {% include "partials/_upload_modal.html" %} </div>
    </main>
</div>
<script>
    var PRELOADED_MAP;
    {% if preloaded_map %}
    PRELOADED_MAP = {{ preloaded_map|tojson|safe}};
    {% endif %}
</script>

<script src="{{ url_for('static',filename='js/papaparse.min.js') }}"></script>
<script type="module" src="{{ url_for('static',filename='js/analysis.js') }}"></script>


{% endblock %}