{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid outer-container">
    <main>
        {% include "partials/_map_nav_bar.html" %}
        <div id="data-content" class="row">
            <map class="col-sm-12" id="map">
                <aside id="map-side-panel"> {% include "partials/_side_panel.html" %} </aside>
            </map>
        </div>
        <div> {% include "partials/_upload_modal.html" %} </div>
    </main>
</div>
<script src="{{ url_for('static',filename='js/us_state_geojson.js') }}"></script>
<script src="{{ url_for('static',filename='js/analysis.js') }}"></script>
<script src="{{ url_for('static',filename='js/papaparse.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/upload_data.js') }}"></script>

{% endblock %}