<!doctype html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type=text/javascript>
        const SCRIPT_ROOT = "{{ url_for('index', _external=True) }}";
    </script>
    <meta charset="utf-8">
    <title>American Health Mapper</title>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index') }}">American Health Mapper</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{ url_for('index') }}">Home<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="{{ url_for('maps') }}">Maps</a>
                    <a class="nav-item nav-link" href="{{ url_for('datasets') }}">Datasets</a>
                    <a class="nav-item nav-link" href="{{ url_for('analysis') }}">Analysis</a>
                    <!-- <a class="nav-item nav-link" href="{{ url_for('explore') }}">Explore</a> -->
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav ml-auto">
                    {% if current_user.is_anonymous %}
                    <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                    <a class="nav-item nav-link" href="{{ url_for('login') }}">Log In</a>
                    {% else %}
                    <a class="nav-item nav-link" href="{{ url_for('settings') }}">Logged in as: {{ current_user.username }}</a>
                    <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>
<footer>
    <a href="{{ url_for('tos') }}">Terms of Service</a>
    <a href="{{ url_for('faq') }}">FAQ</a>
    <a href="{{ url_for('about') }}">About Us</a>
</footer>