{% extends "base.html" %}

{% block content %}
<main class="container" id="index-container">
    {% if current_user.is_anonymous %}
    <div class="row">
        New here? Don't forget to <a href="{{ url_for('register') }}">register</a> so you can save your work. It's Free!
    </div>

    {% else %}
    <div id="user-charts">
        <div class="row">
            <h5 class="row" id="user-charts-header">Dive back into your recent work:</h5>
        </div>
        <div class="card-deck">
            {% for map in user_maps %}
            <div class="card">
                    <a href="{{ url_for('analysis')}}/{{map.map_id }}"><img src="static/thumbnails/{{map.map_thumbnail_link}}" class="card-img-top" alt="chart"></a>
                <div class="card-body">
                    <h5 class="card-title">{{map.title}}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <a href="{{ url_for('portfolio') }}" id="user-charts-footer">View All</a>
        </div>
    </div>
    {% endif %}

    <div id="recent-charts">
        <div class="row">
            <h5 class="row" id="user-charts-header">See what other people are working on:</h5>
        </div>
        <div class="card-deck">
            {% for map in all_maps %}
            <div class="card">
                    <a href="{{ url_for('analysis')}}/{{map.map_id }}"><img src="static/thumbnails/{{map.map_thumbnail_link}}" class="card-img-top" alt="chart"></a>
                <div class="card-body">
                    <h5 class="card-title">{{map.title}}</h5>
                </div>
            </div>
            {% endfor %}
    </div>
    <div class="row">
            <a href="{{ url_for('explore') }}" id="user-charts-footer">Explore More</a>
    </div>

</main>
{% endblock %}