{% extends "base.html" %}

{% block content %}
<main class="container" id="index-container">
    {% if current_user.is_anonymous %}
    <div class="row">
        New here? Don't forget to <a href="{{ url_for('register') }}">register</a> so you can save your work. It's Free!
    </div>

    {% else %}
    <div id="user-charts">
        <div class="row">
            <h5 class="row" id="user-charts-header">Dive back into your recent work:</h5>
        </div>
        <div class="card-deck">
            <div class="card">
                <img src="" class="card-img-top" alt="chart">
                <div class="card-body">
                    <h5 class="card-title">Obesity by County</h5>
                </div>
            </div>
            <div class="card">
                <img src="" class="card-img-top" alt="chart">
                <div class="card-body">
                    <h5 class="card-title">High school graduation rates as an indicator of mortality.</h5>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="" class="card-img-top" alt="chart">
            <div class="card-body">
                <h5 class="card-title">Average health insurance cost by state</h5>
            </div>
        </div>
        <div class="row">
            <a href="{{ url_for('portfolio') }}" id="user-charts-footer">View All</a>
        </div>
    </div>
    {% endif %}

    <div id="popular-charts">
        <div class="row">
            <h5 class="row" id="user-charts-header">See what other people are working on:</h5>
        </div>
        <div class="card-deck">
            <div class="card">
                <img src="" class="card-img-top" alt="chart">
                <div class="card-body">
                    <h5 class="card-title">Obesity as a function of length of State Motto</h5>
                    <h5 class="popular-chart-views">Views: 1,234</h5>
                    <h5 class="popular-chart-favorites">Favorites: 654</h5>
                </div>
            </div>
            <div class="card">
                <img src="" class="card-img-top" alt="chart">
                <div class="card-body">
                    <h5 class="card-title">Number of widgets as it relates to cancer.</h5>
                    <h5 class="popular-chart-views">Views: 1,234</h5>
                    <h5 class="popular-chart-favorites">Favorites: 654</h5>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="" class="card-img-top" alt="chart">
            <div class="card-body">
                <h5 class="card-title">The coolest chart in the world</h5>
                <h5 class="popular-chart-views">Views: 1,234</h5>
                <h5 class="popular-chart-favorites">Favorites: 654</h5>
            </div>
        </div>
        <div class="row">
            <a href="{{ url_for('explore') }}" id="user-charts-footer">Explore More</a>
        </div>
    </div>

    <div id="popular-datasets">
            <div class="row">
                <h5 class="row" id="user-charts-header">See what data other people are using:</h5>
            </div>
            <div class="card-deck">
                <div class="card">
                    <img src="" class="card-img-top" alt="chart">
                    <div class="card-body">
                        <h5 class="card-title">cancer mortality by county</h5>
                        <h5 class="popular-data-level">Granularity: By County</h5>
                        <h5 class="popular-data-usage-count">Used in 2,345 analyses</h5>
                        <h5 class="popular-chart-views">Views: 1,234</h5>
                        <h5 class="popular-chart-favorites">Favorites: 654</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="" class="card-img-top" alt="chart">
                    <div class="card-body">
                        <h5 class="card-title">Number of widgets as it relates to cancer.</h5>
                        <h5 class="popular-data-usage-count">Used in 2,345 analyses</h5>
                        <h5 class="popular-chart-views">Views: 1,234</h5>
                        <h5 class="popular-chart-favorites">Favorites: 654</h5>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="" class="card-img-top" alt="chart">
                <div class="card-body">
                    <h5 class="card-title">The coolest chart in the world</h5>
                    <h5 class="popular-data-usage-count">Used in 2,345 analyses</h5>
                    <h5 class="popular-chart-views">Views: 1,234</h5>
                    <h5 class="popular-chart-favorites">Favorites: 654</h5>
                </div>
            </div>
            <div class="row">
                <a href="{{ url_for('explore') }}" id="user-charts-footer">Explore More</a>
            </div>
        </div>

</main>
{% endblock %}