{% extends "base.html" %}

{% set active_page = 'index' %}

{% block head %}
{% endblock %}

{% block content %}


<main>
    <div class="container">
        {% if current_user.is_authenticated %}
        <div class="row" id="user-maps-title">
            <div class="col-sm-12"><h4>Dive back into your recent maps...</h4></div>
        </div>
        <div class="map-card-section">
            
            <div class="row map-card-row">
                {% for map in user_maps %}
                {% include "partials/_map_card.html" %}
                {% endfor %}
            </div>
            <div class="row see-more-row">
                <div class="col-sm-12">
                    <a href="{{ url_for('maps') }}">See more...</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="jumbotron">
            <h1 class="display-4">Welcome to American Health Mapper!</h1>
            <p class="lead">AHM is a tool for exploring US health data. <a href="{{ url_for('analysis') }}">Make your own map</a>, or <a href="{{ url_for('maps') }}">explore someone else's.</a></p>
            <hr class="my-4">
            <p>Users can save their maps, add maps and datasets to their favorites, and upload new datasets.</p>
            <p>So don't forget to <a href="{{ url_for('login') }}">log in</a> or <a href="{{ url_for('register') }}">sign up</a>.  It's free!</p>
        </div>
        {% endif %}
        <div class="row" id="user-maps-title">
            <div class="col-sm-12"><h4>Explore community maps...</h4></div>
        </div>
        <div class="map-card-section">
            <div class="row map-card-row">
                {% for map in community_maps %}
                {% include "partials/_map_card.html" %}
                {% endfor %}
            </div>
            <div class="row see-more-row">
                <div class="col-sm-12">
                    <a href="{{ url_for('maps') }}">See more...</a>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="{{ url_for('static',filename='js/maps.js') }}"></script>
{% endblock %}