{% extends "base.html" %}

{% set active_page = 'maps' %}

{% block head %}
{% endblock %}

{% block content %}

<main>
    <div class="container">
        {% if current_user.is_authenticated %}
        <div class="map-card-section">
            <div class="row" id="user-maps-title">
                <div class="col-sm-12"><h3>Your Maps</h3></div>
            </div>
            {% for row in user_maps %}
            <div class="row map-card-row">
                {% for map in row %}
                {% include "partials/_map_card.html" %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="map-card-section">
            <div class="row" id="user-maps-title">
                <div class="col-sm-12"><h3>Community Maps</h3></div>
            </div>
            {% for row in community_maps %}
            <div class="row map-card-row">
                {% for map in row %}
                {% include "partials/_map_card.html" %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</main>

<script src="{{ url_for('static',filename='js/maps.js') }}"></script>
{% endblock %}